* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
}

.membership {
  width: 1280px;
  height: 64px;
  margin: 0 auto 16px auto;
}

.membership > ul {
  width: 480px;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 12px;
  position: relative;
  top: 8px;
}

.membership > ul > li {
  margin: 80px 0 32px 24px;
  text-shadow: 1px 1px 1px gray;
  line-height: 32px;
}

.header {
  align-items: center;
  display: flex;
  height: 64px;
  width: 1280px;
  margin: 48px auto 16px auto;
}

.nav {
  z-index: 5;
  flex: none;
  margin-left: auto;
  margin-right: 16px;
}

.nav > ul {
  text-shadow: 1px 1px 1px gray;
  display: flex;
  line-height: 64px;
}

.nav > ul > li {
  margin-left: 48px;
}

.search-container {
  background: white;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  box-shadow: 1px 2px rgba(116, 125, 136, 0.2);
}

.search-container:hover > .search-input {
  width: 300px;
}

.search-container .search-input {
  background: transparent;
  border: none;
  outline: none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
}

.search-container .search-btn .fas {
  color: black;
}

@keyframes hoverShake {
  0% {
    transform: skew(0deg, 0deg);
  }
  25% {
    transform: skew(5deg, 5deg);
  }
  75% {
    transform: skew(-5deg, -5deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

.search-container:hover {
  animation: hoverShake 0.15s linear 3;
}

input[id="menuicon"] {
  display: none;
}

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
header > div {
  position: relative;
  width: 1280px;
  height: 80px;
  margin: auto;
}

.area_desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.menubtn {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.menubtn span {
  display: block;
  position: absolute;
  width: 80%;
  height: 5px;
  border-radius: 30px;
  background: #222;
  transition: all 0.35s;
}

.menubtn span:nth-child(1) {
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.menubtn span:nth-child(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menubtn span:nth-child(3) {
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background: #666;
  opacity: 0.9;
  z-index: 30;
  transition: 0.35s;
}

.sidebar-close {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.35s;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

input[id="menuicon"]:checked ~ .sidebar-close {
  opacity: 1;
  visibility: visible;
}

.companion-title {
  position: relative;
  top: -200px;
  left: -40px;
  font-size: xx-large;
  color: white;
}

.companion-location {
  position: relative;
  top: -100px;
  left: -40px;
  color: white;
}

form {
  position: relative;
  display: flex;
  top: -80px;
  left: -40px;
  height: 4.5vh;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  line-height: 1.5;

  color: #444;
  background-color: #fff;

  padding: 0.6em 1.4em 0.5em 0.8em;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(37, 18, 18, 0.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(14, 24, 36, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

/* 
.companion {
  position: relative;
  width: 220px;
  height: 32px;
  top: 50px;
  background: white;
}

.companion li ul {
  background: #fff;
  display:none;
  height:auto; 
  padding:0px; 
  margin:0px; 
  border:1px lightgray; 
  border-radius: 3px;
  position:absolute; 
  width:220px; 
  z-index:100;
}

.companion li:hover ul {
  display:block;
}

.companion li > ul > li:hover {
  color: white;
  background: linear-gradient(to right, #96b6db, #6786c0);
} */

input[id="menuicon"]:checked ~ header .menubtn {
  z-index: 2;
}
input[id="menuicon"]:checked ~ header .menubtn span {
  background: #fff;
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(1) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(135deg);
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(2) {
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
}
input[id="menuicon"]:checked ~ header .menubtn span:nth-child(3) {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(-135deg);
}
input[id="menuicon"]:checked ~ .sidebar {
  right: 0;
}

.menubtn {
  background: url("./img/btn_bg.png") 0 0 no-repeat;
}
input[id="menuicon"]:checked ~ header .menubtn {
  background: url("./img/btn_bg.png") -50px 0 no-repeat;
}

.section input[id*="slide"] {
  display: none;
}

.section .slidewrap {
  max-width: 1280px;
  max-height: 360px;
  margin: 0 auto;
  overflow: hidden;
}
.section .slidelist {
  white-space: nowrap;
  font-size: 0;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}
.section .slidelist > li > a {
  display: block;
  position: relative;
  overflow: hidden;
}
.section .slidelist > li > a img {
  width: 100%;
}

.section .slidelist label {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

.section .slidelist .left {
  left: -300px;
  background: url("../static/img/left.png") center center / 75% no-repeat;
  opacity: 0.8;
}
.section .slidelist .right {
  right: -300px;
  background: url("../static/img/right.png") center center / 75% no-repeat;
  opacity: 0.8;
}

.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
  animation: slide01 25s infinite;
}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
  animation: slide02 25s infinite;
}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
  animation: slide03 25s infinite;
}
.section input[id="slide04"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-300%);
  animation: slide04 25s infinite;
}
.section input[id="slide05"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-400%);
  animation: slide05 25s infinite;
}

.section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .left {
  left: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .right {
  right: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .left {
  left: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .right {
  right: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .left {
  left: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .right {
  right: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .left {
  left: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide04"]:checked ~ .slidewrap li:nth-child(4) .right {
  right: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide05"]:checked ~ .slidewrap li:nth-child(5) .left {
  left: 30px;
  transition: all 0.35s ease 0.35s;
}
.section input[id="slide05"]:checked ~ .slidewrap li:nth-child(5) .right {
  right: 30px;
  transition: all 0.35s ease 0.35s;
}

.contents_head {
  width: 800px;
  text-align: center;
  margin: 50px auto auto auto;
}

.map_wrap {
  width: 1280px;
  margin: 50px auto auto auto;
}

.map_list {
  width: 1280px;
  margin: auto;
}

.map_list > ul > li {
  font-size: larger;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
}

.map_list > ul > li > div > a:hover {
  border-radius: 8px;
  padding: 10px 40px;
  color: white;
  background: linear-gradient(to right, #243b55, #141e30);
  opacity: 0.8;
}

.map_list1 {
  width: 1280px;
  height: 32px;
  display: flex;
}

.map_list1 > li {
  flex: 1;
}

.map_list1 > li:not(:last-child) > div {
  border-right: 1px solid lightgray;
}

.map_list2 {
  width: 1280px;
  height: 32px;
  margin: 16px auto 32px auto;
  display: flex;
}

.map_list2 > li {
  flex: 1;
}

.map_list2 > li:not(:nth-child(8):nth-child(9)) > div {
  border-right: 1px solid lightgray;
}

.map_call {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input[id="popup"] {
  display: none;
}

input[id="popup"] + label {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  background: whitesmoke;
  color: black;
  box-shadow: 1px 1px 2px 1px lightgray;
  cursor: pointer;
}

input[id="popup"] + label + div {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

input[id="popup"]:checked + label + div {
  opacity: 1;
  visibility: visible;
  display: block;
}

input[id="popup"] + label + div > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 800px;
  z-index: 2;
}

input[id="popup"] + label + div > div > label {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(40%, -40%);
  padding: 20px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}

input[id="popup"] + label + div > label {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.destination {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 96px;
  background-color: #8ec5fc;
  background-image: linear-gradient(135deg, #8ec5fc 0%, #e0c3fc 100%);
}

.destination_header {
  width: 1280px;
  margin: auto auto 32px auto;
  color: #fff;
  font-size: xx-large;
}

.restaurant {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 32px;
}

.restaurant_header {
  width: 1280px;
  margin: auto auto 32px auto;
  color: #000000;
  font-size: xx-large;
  font-weight: bolder;
}

.items0 {
  width: 1280px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.item0 {
  flex: 1;
  display: block;
  text-align: center;
  margin-bottom: 16px;
}

.item0_box {
  width: 250px;
  margin: auto;
  background-color: white;
  box-shadow: 3px 4px 5px 0 rgb(2 2 2 / 40%);
}

.item0_img {
  width: 100%;
  height: 217px;
}

.item0_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-top: 10;
}

.item0_sub_title,
.item0_tag,
.item0_sub_tag {
  font-size: 10xp;
}

.item0_tag {
  color: orange;
  margin-bottom: 10px;
  white-space: nowrap;
}
.item0_sub_tag {
  margin-bottom: 10px;
}
.item0_sub_title {
  color: grey;
  margin-bottom: 20px;
}

.item0_star {
  font-size: 14px;
  color: gold;
}

.page_end {
  margin: 128px auto auto auto;
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/img/main_footer1.png");
}

.page_end > h1,
h5 {
  position: relative;
  top: 40%;
  text-align: center;
  color: white;
}

.page_end > h1 {
  font-size: 3rem;
}

.page_end > h5 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.service_main {
  margin: 32px auto 128px auto;
  width: 1920px;
  height: 1200px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/img/service-bg.png");
}

.service_main > h1,
h5 {
  position: relative;
  color: white;
}

.service_main > h1 {
  top: 15%;
  left: 23%;
  font-size: 3rem;
}

.service_main > h5 {
  top: 23%;
  margin-top: 8px;
  left: -25%;
  font-size: 1.7rem;
}

.aboutus {
  width: 1200px;
  height: 800px;
  margin: 32px auto 96px auto;
  background: url("../static/img/aboutus-bg.jpg");
}

.FAQ-box {
  width: 1920px;
  height: 1200px;
  background: url("../static/img/faq-board.png");
  margin: 16px auto 128px auto;
}

.FAQ-box > ul > li {
  font-family: "Nanum Pen Script", cursive;
}

.FAQ-question1 {
  width: 240px;
  height: 36px;
  position: relative;
  font-size: 32px;
  top: 370px;
  left: 440px;
}

.FAQ-answer1 {
  width: 350px;
  height: 160px;
  position: relative;
  font-size: 32px;
  top: 420px;
  left: 440px;
}

.FAQ-question2 {
  width: 300px;
  height: 64px;
  position: relative;
  font-size: 24px;
  top: 306px;
  left: 1120px;
}

.FAQ-answer2 {
  width: 300px;
  height: 172px;
  position: relative;
  font-size: 28px;
  top: 330px;
  left: 1116px;
}

.FAQ-question3 {
  width: 480px;
  height: 48px;
  position: relative;
  font-size: 32px;
  top: 310px;
  left: 530px;
}

.FAQ-answer3 {
  width: 480px;
  height: 200px;
  position: relative;
  font-size: 32px;
  top: 350px;
  left: 530px;
}

/* 
.map_container {
  position: absolute;
  width: 30vw;
  height: 50vh;
  top: -100px;
  left: -100px;
  margin: auto;
  fill: rgb(185, 185, 185);
  stroke: rgba(70, 70, 70, 0.5);
} */

.mapsvg {
  overflow: visible;
  width: 30vw;
  height: 50vh;
  position: relative;
  top: -140px;
  left: 20px;
}

.OUTLINE {
  stroke-linejoin: round;
  fill: rgb(82, 82, 82);
  stroke: rgb(155, 155, 155);
  stroke-width: 1.5;
}

path:hover {
  fill: #162840;
  stroke: #cccccc;
}

/* #CD11 {
  fill: #f1c40f;
}
#CD26 {
  fill: #16a085;
}
#CD27 {
  fill: #f39c12;
}
#CD28 {
  fill: #2ecc71;
}
#CD29 {
  fill: #e67e22;
}
#CD30 {
  fill: #27ae60;
}
#CD31 {
  fill: #d35400;
}
#CD36 {
  fill: #3498db;
}
#CD41 {
  fill: #e74c3c;
}
#CD42 {
  fill: #2980b9;
}
#CD43 {
  fill: #c0392b;
}
#CD44 {
  fill: #9b59b6;
}
#CD45 {
  fill: #8e44ad;
}
#CD46 {
  fill: #34495e;
}
#CD47 {
  fill: #2c3e50;
}
#CD48 {
  fill: #1abc9c;
}
#CD50 {
  fill: #f1c40f;
} */
.TEXT {
  fill: rgb(225, 225, 225);
  font-size: 12;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
  cursor: pointer;
}
