<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../static/style.css"
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/style.css" >
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="wrap">
            <div class="header">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search..." class="search-input">
                    <a href="#" class="search-btn">
                            <i class="fas fa-search"></i>      
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Service</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div> 
        <div class="section">
            <input type="radio" name="slide" id="slide01" checked>
            <input type="radio" name="slide" id="slide02">
            <input type="radio" name="slide" id="slide03">
            <input type="radio" name="slide" id="slide04">
            <input type="radio" name="slide" id="slide05">

            <div class="slidewrap">
                <ul class="slidelist">
                    <li>
                        <a>
                            <label for="slide05" class="left"></label>
                            <img src="../img/slidepic1.jpg">
                            <label for="slide02" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide01" class="left"></label>
                            <img src="../img/slidepic2.jpg">
                            <label for="slide03" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide02" class="left"></label>
                            <img src="../img/slidepic3.jpg">
                            <label for="slide04" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide03" class="left"></label>
                            <img src="../img/slidepic4.jpg">
                            <label for="slide05" class="right"></label>
                        </a>
                    </li>
                    <li>
                        <a>
                            <label for="slide04" class="left"></label>
                            <img src="../img/slidepic5.jpg">
                            <label for="slide01" class="right"></label>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="contents_head">
            <h1>가고자 하는 곳을 선택해주세요</h1>
        </div>

    <div class="map_wrap">
        <div class="map_list">
            <ul class="map_list1">
                    <li><div><a href="#">서울</a></div></li>
                    <li><div><a href="#">인천</a></div></li>
                    <li><div><a href="#">경기</a></div></li>
                    <li><div><a href="#">강원</a></div></li>
                    <li><div><a href="#">충북</a></div></li>
                    <li><div><a href="#">충남</a></div></li>
                    <li><div><a href="#">세종</a></div></li>
                    <li><div><a href="#">대전</a></div></li>
                    <li><div><a href="#">대구</a></div></li>
                </ul>
                <ul class="map_list2">
                    <li><div><a href="#">경북</a></div></li>
                    <li><div><a href="#">경남</a></div></li>
                    <li><div><a href="#">울산</a></div></li>
                    <li><div><a href="#">부산</a></div></li>
                    <li><div><a href="#">광주</a></div></li>
                    <li><div><a href="#">전북</a></div></li>
                    <li><div><a href="#">전남</a></div></li>
                    <li><div><a href="#"></a></div></li>
                    <li><div><a href="#"></a></div></li>
                </ul>
        </div>

        <div class="map_call">
            <input type="checkbox" id="popup">
            <label for="popup">지도로 찾아보기</label>
            <div>
                <div>
                    <label for="popup"></label>
                </div>
                <label for="popup"></label>
            </div>
        </div>
        
        <div class="card_header1">이런곳은 어떠세요?</div>
            <div class="card_box1">
                관광 명소 카드들 들어갈 자리
            </div>
        <div class="card_header2">전국 맛집 추천</div>
            <div class="card_box2">
                전국 맛집 카드들 들어갈 자리
            </div>
    </div>
    </body>
