<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   
    

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <?xml version="1.0" encoding="UTF-8" standalone="no"?>
    <script src="https: //ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
    <link rel="stylesheet" href="../static/column_page.css">

    <title> 검색</title>

    <style>
     
        */
        .flex-container{
            display: flex;
            width: 60%;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin: 0% auto;
        }
    </style>

</head>

<body>
    <input type="checkbox" id="menuicon">
            <header>
                <div>
                    <span class="area_desc"><a href="/"><img src="../static/img/spartrip.png"></a></span>
                    <label for="menuicon" class="menubtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
            </header>
            <div class="sidebar">
                <span class="area_desc">
                    <p class="companion-title">동행 찾기</p>
                    <p class="companion-location">지역 선택</p>
                    <form>
                        <select id="location" name="location">
                          <option value="">-- 선택하세요 --</option>
                            <option value="1">서울특별시</option>
                            <option value="2">인천광역시</option>
                            <option value="3">경기도</option>
                            <option value="4">강원도</option>
                            <option value="5">충청북도</option>
                            <option value="6">충청남도</option>
                            <option value="7">세종시</option>
                            <option value="8">대전광역시</option>
                            <option value="9">대구광역시</option>
                            <option value="10">경상북도</option>
                            <option value="11">경상남도</option>
                            <option value="12">울산광역시</option>
                            <option value="13">부산광역시</option>
                            <option value="14">광주광역시</option>
                            <option value="15">전라북도</option>
                            <option value="16">전라남도</option>
                            <option value="17">제주시</option>
                        </select>
                      </form>
                </span>
            </div>
    <div class="membership">
        <ul>
            <li>
                <p id="ID0"></p>
            </li>
            <li><a id="LOGIN0"></a></li>

        </ul>
    </div>
    <div class="wrap">
        <div class="header">

            <div class="search-container">
                <input type="text" name="q" placeholder="Search..." class="search-input" id="input_search" onkeyup="enterkey()">
                <a class="search-btn" onclick="index_search()">
                    <i class="fas fa-search" onclick="index_search()"></i>      
                </a>
            </div>


            <div class="nav">
                <ul>

                    <!-- <li><a id="LOGIN0" href="/login"></a></li> -->
                    <li><a href="/">Home</a></li>
                    <li><a href="/service">Service</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/FAQ">FAQ</a></li>
                    <!-- <li><a id="LOGOUT0" href="#" onclick="logout()">로그아웃</a></li> -->

                </ul>
            </div>
        </div>
    </div>
    <div class="section">
        <input type="radio" name="slide" id="slide01" checked>
        <input type="radio" name="slide" id="slide02">
        <input type="radio" name="slide" id="slide03">
        <input type="radio" name="slide" id="slide04">
        <input type="radio" name="slide" id="slide05">

        <div class="slidewrap">
            <ul class="slidelist">
                <li>
                    <a>
                        <label for="slide05" class="left"></label>
                        <img src="{{url_for('static', filename='img/slide1.jpg')}}">
                        <label for="slide02" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide01" class="left"></label>
                        <img src="{{url_for('static', filename='img/slide2.jpg')}}">
                        <label for="slide03" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide02" class="left"></label>
                        <img src="{{url_for('static', filename='img/slide3.jpg')}}">
                        <label for="slide04" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide03" class="left"></label>
                        <img src="{{url_for('static', filename='img/slide4.jpg')}}">
                        <label for="slide05" class="right"></label>
                    </a>
                </li>
                <li>
                    <a>
                        <label for="slide04" class="left"></label>
                        <img src="{{url_for('static', filename='img/slide5.jpg')}}">
                        <label for="slide01" class="right"></label>
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- <h1>
            <span>n</span><span>o</span><span>m</span><span>a</span><span>d</span><span>K</span>
        </h1> -->
    <!-- <div>
        <a>
           
            <div class="search-container1 align-center">
                <input type="checkbox" id="search-trigger">
                <label for="search-trigger">
                    <div class="search-toggle"></div>
                </label>
                <label class="search-field">
                    <input id="input_search" type="text" value="" name="q"
                        onkeyup="if(window.event.keyCode==13){showSearches()}" placeholder="풍경 또는 즐거움..">
                    <div class="corners"></div>
                </label>
            </div>
        </a>
    </div> -->
    <br>
    <br>
    
    <div id="search-box" class="flex-container">
    </div>

<script src="../static/search.js"></script>

</body>