<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>Document</title>
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/style.css" >
        <link rel="stylesheet" href="../static/colum_modal.css">
        <link rel="stylesheet" href="../static/classic.css">
        <link rel="stylesheet" href="../static/classic.date.css">
    </head>

    <body>
        <input type="checkbox" id="menuicon">
            <header>
                <div>
                    <span class="area_desc"><a href="/"><img src="../static/img/spartrip.png"></a></span>
                    <label for="menuicon" class="menubtn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                </div>
            </header>

            <div class="sidebar">
                <span class="area_desc">
                    <p class="companion-title">동행 찾기</p>
                    <p class="companion-location">지역 선택</p>
                    <form>
                        <select id="location_" name="location">
                        <option value="">-- 선택하세요 --</option>
                            <option value="1">서울특별시</option>
                            <option value="2">인천광역시</option>
                            <option value="3">경기도</option>
                            <option value="4">강원도</option>
                            <option value="5">충청북도</option>
                            <option value="6">충청남도</option>
                            <option value="7">세종시</option>
                            <option value="8">대전광역시</option>
                            <option value="9">대구광역시</option>
                            <option value="10">경상북도</option>
                            <option value="11">경상남도</option>
                            <option value="12">울산광역시</option>
                            <option value="13">부산광역시</option>
                            <option value="14">광주광역시</option>
                            <option value="15">전라북도</option>
                            <option value="16">전라남도</option>
                            <option value="17">제주시</option>
                        </select>
                    </form>
                    
                    <div id="popup_accom">
                        <div id="accom_refer">
                            <section class="accom_form">
                                <div>
                                    <div class="accom_area">
                                        <input class="accom_date" type="text" id="accom_fromdate" autocomplete="off" required>
                                        <label for="accom_fromdate">출발일자:</label>
                                    </div>
                                    <div class="accom_area">
                                        <input class="accom_date"type="text" id="accom_todate" autocomplete="off" required>
                                        <label for="accom_todate">도착일자:</label>
                                    </div>
                                    <div class="btn_area">
                                        <button id ="btn_inquiry" onclick="accom0_show()">조회</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </span>
            </div>
            <label for="menuicon" class="sidebar-close"></label>
            
        <div class="membership">
            <ul>
                <li><p id="ID0"></p></li>
                <li><a id="LOGIN0"href="/login"></a></li>
            </ul>
        </div>

        <div class="wrap">
            <div class="header">
                <div class="search-container">
                    <input type="text" name="search" placeholder="Search..." class="search-input" id="input_search" onkeyup="enterkey()" name="q">
                    <a class="search-btn" onclick="index_search()">
                            <i class="fas fa-search" onclick="index_search()"></i>      
                    </a>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/service">Service</a></li>
                        <li><a href="/aboutus">About Us</a></li>
                        <li><a href="/FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>
        </div> 
        
        <div class="service_main">
            <h1>동행</h1>
            <h5>잠시 단조로운 일상을 벗어나</h5>
            <h5>새로운 곳으로 여행을 떠날때의 설레임과</h5>
            <h5>누군가 함께할 때에 오는 안정감</h5>
            <h5>이 모든 행복과 기쁨을 나눌수 있도록</h5>
            <h5>저희가 도와드리겠습니다</h5>
        </div>

        <input type="checkbox" id="popup2">
        <label for="popup2"></label>
        <div>
            <div id="accom_show">
                <label for="popup2"></label>
                            <div class="accom0">
                                <div class="accom0_show">
                                    <a id="back" onclick="back()" style="font-size: 35px;">🔙</a>
                                    <div class="accom0_box" id ="accom0_in">
                                    </div>
                                </div>
                                <div class="accom0_write">
                                    <div class="accom0_write_box" >
                                        <textarea placeholder="동행자 모집내용을 남겨주세요!" id="accom0_content"></textarea>
                                        <img src="../static/img/send.png" class="accom0_send"id="accom0_send" onclick="accom0_write()">
                                    </div>
                                </div>
                            </div>
            </div>
            <label for="popup2" id="accom0_label2"></label>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/index.js"></script>
        <script src="../static/picker.js"></script>
        <script src="../static/picker.date.js"></script> 
        <script src="../static/accom.js"></script>
    </body>
</html>