<!-- 공통 -->
<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='regionstyle.css')}}">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
  <!-- 공통 -->

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="./static/split.js"></script>
  <title> GANGWON </title>
</head>

<body>

  <div class="scene">
    <div class="full-bg">
      <img src="./static/img/2split2.png" alt="">
    </div>
  </div>


  <div class="contact-form">
    <li class="att">
      <a href="/attr"><span class="red">A</span>ttraction</a>
    </li>
    <li class="res">
      <a href="/rest"><span class="blue">R</span>estaurant</a>
    </li>
  </div>
</body>

</html>
