<!-- 공통 -->
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='regionstyle.css')}}">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <!-- 공통 -->
    <title> INCHEON </title>
</head>

<body>
    <!-- <div class="container">
        <div class="as_header">
            <div>
                <li> Attraction </li>
            </div>
            <div>
                <li> Restaurant </li>
            </div>
        </div>

    </div> -->
<div class="scene">
    <div class="scene">
        <div class ="full-bg">
            <img src="./img/2split.png" alt="">
        </div>
    </div>
</div>


</body>

</html>